@media (max-width: 1440px) {

    /* Card del post */
    .post {
      width: calc(100% / 3 - 1rem);
    }
  }
  
  @media (max-width: 1024px) {
  
    /* Card del post */
    .post {
      width: calc(100% / 2 - 1rem);
    }
  }
  
  @media (max-width: 768px) {
  
    /* Card del post */
    .post {
      width: 400px;
      margin: 0 auto;
    }
  
    #feed-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin: 1rem auto;
      padding: 0;
      justify-content: center;
    }
  }
  
  
  
  @media (max-width: 425px) {
  
    /* Card del post */
    .post {
      width: 400px;
      margin: 0 auto;
    }
  
    #feed-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      margin: 1rem auto;
      padding: 0;
      justify-content: center;
    }
  }